extends ../_layouts/base

block config
  //- Correct base url pathing for this page
  - var baseUrl = '../'

block content
  p pricing page
  include ../_modules/header
  include ../_modules/top-menu

  //- here comes the content

  include ../_modules/footer
